<ul>
    <% cards.each do |c| %>
    <%= image_tag c.image, style: "width: 250px; display: block" %>
    <li><%= link_to c.player_name, card_path(c) %> - <%= c.comments.size %></li>
    <% end %>
</ul>