<% if @user %>
<h1><%= @user.username %>'s Cards:</h1>
<% else %>
<h1> All Cards </h1>
<% end %>
<h1> This is the Card Index</h1>

<ul>
    <% @cards.each do |c| %>
    <li><%= link_to c.player_name, card_path(c) %></li>
    <% end %>
</ul>