<h1><%= display_index_helper %></h1>

<% if @cards.empty? %>

<h2>No cards yet. Create a card <%= link_to "here", new_card_path %></h2>

<% else %>
<ul>
    <% @cards.each do |c| %>
    <li><%= link_to c.player_name, card_path(c) %></li>
    <% end %>
</ul>
<% end %>