@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #470bee !important;
}

.nav-link{
    color: white !important;
    list-style-type: none;
}

#logo {
   max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

.hometext {
    text-align: center;
}

